Source: ros-foxy-tracetools-launch
Section: misc
Priority: optional
Maintainer: Christophe Bedard <bedard.christophe@gmail.com>
Build-Depends: debhelper (>= 9.0.0), python3-pytest, ros-foxy-ament-copyright, ros-foxy-ament-flake8, ros-foxy-ament-mypy, ros-foxy-ament-pep257, ros-foxy-ament-xmllint, ros-foxy-launch, ros-foxy-launch-ros, ros-foxy-tracetools-trace, ros-foxy-ros-workspace, python3-all, python3-setuptools
Homepage: 
Standards-Version: 3.9.2

Package: ros-foxy-tracetools-launch
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-foxy-launch, ros-foxy-launch-ros, ros-foxy-tracetools-trace, ros-foxy-ros-workspace
Description: Launch integration for tracing.
